<!DOCTYPE html>
<html lang='es', style='height: 100%;'>
<head>
    <title>Edad Individuo</title>
    {% load static %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}" >
    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
	<link rel="stylesheet" href="{% static 'css/navbar.css' %}">
</head>
<body bgcolor="81c784">
	 <div class="container">
     	<div class="row">
     		<div class="col s12">
     			<h1 style="text-align: center;">2. ¿Es mayor de 50 años?</h1>
     		</div>
     		<div>
				 <nav>
					<a href=viejosi class= nav1 >Si, soy mayor de 50 años</a>
					<a href=viejono class= nav1 >No, soy menor de 50 años</a>
				</nav>
     		</div>
     	</div>  
     </div>
</body>
</html>
