<!DOCTYPE html>
<html lang='es', style='height: 100%;'>
<head>
    <title>Covid19 Positivo</title>
    {% load static %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}" >
    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
	<link rel="stylesheet" href="{% static 'css/navbar.css' %}">
</head>
<body style="background-color: rgb(3, 56, 70);">
	 <div class="container">
     	<div class="row">
     		<div class="col s12">
     			<h1 style="text-align: center;">Mayor de 50</h1>
     		</div>
            <h1 style="color: chartreuse; max-height: 0,2px;">A medida que envejece, aumenta el riesgo de enfermarse gravemente a causa del COVID-19. Por ejemplo, las personas en sus 50 tienen mayor riesgo de enfermarse gravemente que las personas en sus 40. Del mismo modo, las personas en sus 60 o 70, en general, tienen mayor riesgo de enfermarse gravemente que las personas en sus 50. El riesgo más alto de enfermarse gravemente a causa del COVID-19 lo tienen las personas de 85 años de edad o más.
                <a href="https://espanol.cdc.gov/coronavirus/2019-ncov/need-extra-precautions/older-adults.html" class= nav1 >Info Adicional</a>
            </div>
     	</div>  
     </div>
</body>
</html>