<!DOCTYPE html>
<html lang='es', style='height: 100%;'>
<head>
    <title>Enfermedad Cardiovascular</title>
    {% load static %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}" >
    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
	<link rel="stylesheet" href="{% static 'css/navbar.css' %}">
</head>
<body style="background-color: rgb(3, 56, 70);">
	 <div class="container">
     	<div class="row">
     		<div class="col s12">
     			<h1 style="text-align: center;">Poseedor de enfermedad Cardiovascular</h1>
     		</div>
            <h1 style="color: chartreuse; max-height: 0,2px;">¿Cuáles son las principales recomendaciones para los pacientes con enfermedades cardiovasculares en el contexto de coronavirus?


                Las ya conocidas como el distanciamiento social, la que también tiene sus consecuencias. Un estudio demostró un aumento de un 23% de las enfermedades cardiovasculares por el aislamiento, por lo hay que ser cautos y ocupar mucho el criterio. El aislamiento es muy bueno, pero hay que pensar que, en general, son pacientes de edad y que eso produce trastornos, más aún en los aspectos cognitivos. Hay que ir tomando medidas que sean paulatinas, escalonadas y que usen un concepto básico de criterio.  
                
                  
                ¿Qué tan frecuente es la miocarditis por COVID-19?
                
                
                Es bastante frecuente. Estos pacientes desarrollan un fenómeno inflamatorio generalizado, por lo que muchos pacientes con COVID-19 tienen depresión miocárdica, arritmia, insuficiencia cardíaca y otras manifestaciones similares, que son productos de la inflamación que produce el virus en el organismo.
                <a href="https://www.savalnet.cl/cienciaymedicina/progresosmedicos/riesgo-cardiovascular-en-el-contexto-de-covid-19.html" class= nav1 >Info Adicional</a>
            </div>
     	</div>  
     </div>
</body>
</html>