<!DOCTYPE html>
<html lang='es', style='height: 100%;'>
<head>
    <title>Problemas Inmunologicos</title>
    {% load static %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}" >
    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
	<link rel="stylesheet" href="{% static 'css/navbar.css' %}">
</head>
<body style="background-color: rgb(3, 56, 70);">
	 <div class="container">
     	<div class="row">
     		<div class="col s12">
     			<h1 style="text-align: center;">Problemas Inmunologicos</h1>
     		</div>
            <h1 style="color: chartreuse; max-height: 0,2px;"> Uno de los grupos de riesgo o vulnerable ante el brote de Coronavirus Covid-19 está conformado por personas inmunodeprimidas. Es decir, individuos que tienen un sistema inmune debilitado (inmunocomprometido), lo que hace disminuir su capacidad de combatir infecciones y los puede convertir en pacientes de cuidado.
                Debido a que estamos ante una enfermedad nueva, que recién se presentó en el ser humano en diciembre del año pasado, todavía está en estudio cómo se forma una respuesta inmunológica contra el nuevo Coronavirus Covid-19. Por eso, aún no existe información o evidencia científica de la forma en que se puede potenciar la inmunidad frente a este cuadro.
                “Hay medidas para inmuno-estimular, pero esto va a depender de cada paciente, porque son muchas las causas que generan una inmuno-supresión. Por lo tanto, no hay recomendaciones o tratamientos universales que uno pueda recomendar para dar a toda la población”, señala la doctora Lorena Jiusan, inmunóloga de Clínica Alemana.
                Existen pacientes que tienen enfermedades primarias del sistema inmunológico. Es decir, son alteraciones genéticas que vienen desde el nacimiento y que pueden ser leves o más profundas. “También aquí hay un manejo individual, que puede incluir hospitalización para dar al paciente estos anticuerpos que le faltan”, explica la doctora Jiusan.
                Las que son más frecuentes en la población son las inmunodeficiencias secundarias, que se pueden relacionar con un déficit nutricional –tanto la desnutrición como la obesidad generan alteraciones en la función del sistema inmunológico– o con la falta de vitaminas u oligoelementos, como el zinc. Personas trasplantadas o que tienen tratamientos inmunosupresores para tratar otras patologías como el cáncer, también están dentro de este grupo. Cosa similar pasa con aquellos pacientes inmunodeprimidos por VIH.</h1>
                <a href="https://www.clinicaalemana.cl/articulos/detalle/2020/coronavirus-covid-19-en-pacientes-inmunodeprimidos" class= nav1 >Info Adicional</a>
            </div>
     	</div>  
     </div>
</body>
</html>