<!DOCTYPE html>
<html lang='es', style='height: 100%;'>
<head>
    <title>¡¡Muchas gracias!!</title>
    {% load static %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}" >
    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
	<link rel="stylesheet" href="{% static 'css/navbar.css' %}">
</head>
<body style="background-color: rgb(3, 56, 70);">
	 <div class="container">
     	<div class="row">
     		<div class="col s12">
     			<h1 style="text-align: center;">Si es que no ha salido:</h1>
     		</div>
            <h1 style="color: chartreuse; max-height: 0,2px;">Si no ha salido continúe respetando la cuarentena y siga los siguientes pasos para ayudar a evitar el contagio.
				•	Quédese en casa lo máximo posible.
				
				•	Mantenga el distanciamiento social.
				
				•	Lávese las manos con frecuencia.
				
				•	Tosa cubriéndose con el codo.
				
				•	Use mascarilla si va a salir.
				
				•	Vaya al centro médico más cercano si tiene síntomas.
				
				•	Desinfecte los objetos que adquiere fuera de su casa.
				
				Aquí le entregamos algunos tips para lavarse las manos de forma correcta:
				
				Quédate en tu casa, ayuda a frenar el Coronavirus
                <a href="https://kidshealth.org/es/parents/coronavirus-stop-spread-esp.html" class= nav1 >Info Adicional</a>
            </div>
			<div class="col s12 center-align">
				<img src="{% static 'img/imag2.jpeg' %}">
			</div>
		</div>  
     </div>
</body>
</html>