<!DOCTYPE html>
<html lang='es', style='height: 100%;'>
<head>
    <title>INFORMACION ADICIONAL</title>
    {% load static %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}" >
    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
	<link rel="stylesheet" href="{% static 'css/navbar.css' %}">
</head>
<body bgcolor="81c784">
	 <div class="container">
     	<div class="row">
     		<div class="col s12">
     			<h1 style="text-align: center;">Paginas que le podrian interesar:</h1>
     		</div>
     		<div>
				 <nav>
					<a href="https://news.google.com/covid19/map?hl=es-419&gl=CL&ceid=CL:es-419" class= nav1 >Informacion De Google</a>
					<a href="https://www.minsal.cl/" class= nav1 >Informacion Minsal</a>
                    <a href="https://www.who.int/es/health-topics/coronavirus/coronavirus" class= nav1 >Informacion OMS</a>
                    <a href="https://www.gob.cl/coronavirus/cifrasoficiales/" class= nav1 >Cifras Chile</a>
					<a href="https://www.minsal.cl/nuevo-coronavirus-2019-ncov/casos-confirmados-en-chile-covid-19/" class= nav1 >Info Regiones Chile</a>
                    <a href="https://www.24horas.cl/coronavirus/" class= nav1 >Noticias COVID Chile</a>
				</nav>
     		</div>
     	</div>  
     </div>
</body>
</html>